.accordation {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 80%;
}

.AccordionSummary {
  color: #ffffff;
  background-color: #ffffff00;
  border-radius: 16px;
}

.AccordionDetails {
  color: #ffffff;
  background-color: #51829B;
}

